html:root {
    --Royal-blue: #5956E9;
    --gray-paragraph: #6C6C72;
    --Black: #232233;
    --White: #FFF;
}

html,
body {
    font-size: 62.5%;

}

* {
    box-sizing: border-box;
}

body {
    font-family: Josefin Sans, sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
}

/* josefin-sans-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/josefin-sans-v32-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/josefin-sans-v32-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/josefin-sans-v32-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/josefin-sans-v32-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/josefin-sans-v32-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/josefin-sans-v32-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* josefin-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/josefin-sans-v32-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.purple-paragraph {
    color: var(--Royal-blue);
}

.gray-paragraph {
    color: var(--gray-paragraph);
}

.white-paragraph {
    color: var(--White);
}

.black-paragraph {
    color: var(--Black);
}

.p_16-24 {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem;
    /* 150% */
}

.h_20-30 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    /* 150% */
    text-transform: uppercase;
}

.h_25-37 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 3.75rem;
    /* 150% */
    text-transform: uppercase;
}

.h_31-47 {
    font-size: 3.1rem;
    font-weight: 700;
    line-height: 4.7rem;
    /* 151.2% */
    text-transform: uppercase;
}

.p_20_underline {
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.p_12 {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: normal;
}

.button_p {
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 76px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Royal-blue);
    padding: 12px 6px;
    border-radius: 3px;
    text-align: center;
}

@media (min-width: 768px) {
    .button_p {
        width: 158px;
        height: 50px;
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.main_header {
    padding-top: 40px;
    padding-bottom: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -1px;
    position: absolute;
    width: 100%;
}

@media (min-width: 768px) {
    .main_header {
        margin-bottom: -1px;
        padding-bottom: 236px;
    }
}

@media (min-width: 1440px) {
    .main_header {
        margin-bottom: -1px;
        padding-bottom: 82px;
        padding-top: 38px;    
    }
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 20px;
}

@media (min-width:400px) {
    .container {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .container {
        margin: 0 auto;
    }

}

@media (min-width: 1440px) {
    .container {
        margin: 0 auto;
    }
}

.header_navbar {
    margin: 0 auto;
    min-height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
    background-color: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;
}

@media (min-width: 768px) {
    .header_navbar {
        height: 60px;
    }
}

.navbar_logo {
    width: 100px;
    padding: 24px 11px 24px 10px;
    border-radius: 5px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;

}

@media (min-width: 768px) {
    .navbar_logo {
        width: 200px;
        padding: 31px 16px 31px 17px;
    }
}

.navbar__menu--logo-picture-2 {
    display: none;
}

@media (min-width: 768px) {

    .navbar__menu--logo-picture-1 {
        display: none;
    }

    .navbar__menu--logo-picture-2 {
        display: block;
    }
}

.navbar_menu {
    width: 24px;
    height: 24px;
    margin-left: 9px;
}

@media (min-width: 768px) {
    .navbar_menu {
        margin-left: 18px;
    }
}

.header__navbar--left-elements {
    display: none;
}

.header__navbar--right-elements {
    display: none;
}

@media (min-width: 1440px) {
    .navbar_menu {
        display: none;
    }   

    .header__navbar--left-elements {
        list-style-type: none;
        display: flex;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.6rem;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: space-around;
        width: 485px;
        margin-left: 52px;
    }
    
    .header__navbar--right-elements {
        list-style-type: none;
        display: flex;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 2rem;
        line-height: 2.6rem;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 322px;
        margin-left: auto;
        justify-content: space-around;
        margin-right: 60px;
    }

    .header__navbar--right-elements a{
        text-decoration: none;
        color: var(--Black);
    }

    .header__navbar--left-elements a{
        text-decoration: none;
        color: var(--Black);
    }

    .header_navbar {
        margin: 0 auto;
    }

    .navbar__left-elements--item a:hover{
        text-decoration: underline;
        color: var(--Royal-blue);
    }

    .navbar__right-elements--item a:hover {
        text-decoration: underline;
        color: var(--Royal-blue);
    }
}

.navbar__upnav {
    display: none;
    justify-content: space-between;
}

.upnav__mail {
    display: flex;
    text-decoration: none;
    gap: 18px;
}

.upnav__phone {
    display: flex;
    text-decoration: none;
    gap: 18px;
    margin-left: 48px;
}

.upnav__mail--text {
    color: var(--White);
}

.upnav__phone--text {
    color: var(--White);
    min-width: 109px;
}

.upnav__social-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin: 0;
    padding: 0;
    margin-left: 151px;
}

.upnav__social-list--item {
    padding: 0;
    margin: 0;
}

.upnav__social-list--item>a>img {
    width: 18px;
}

.upnav__block--telandmail {
    display: flex;
}

@media (min-width: 768px) {
    .navbar__upnav {
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
        align-items: center;
    }
}

@media (min-width: 1440px) {
    .navbar__upnav {
        margin-bottom: 0px;
    }
}

.introduce__hero-text {
    margin: 0;
    margin-bottom: 18px;
}

@media (min-width: 768px) {
    .introduce__hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }
}

@media (min-width: 1440px) {
    .introduce__hero-text {
        font-size: 4.883rem;
        line-height: 6.348rem;
        margin-bottom: 18px;
    }
}

.introduce__description--main_text {
    margin: 0;
    margin-bottom: 30px;
}

.introduce__description--main_text-pc {
    display: none;
}

.container__block-border {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 323px;
}

@media (min-width: 768px) {
    .container__block-border {
        margin: 0 auto;
        margin-right: 90px;
        max-width: 356px;
    }
}

@media (min-width: 1440px) {
    .introduce__description--main_text-pc {
        display: block;
        width: 487px;
        margin-bottom: 52px;
    }    

    .introduce__description--main_text {
        display: none;
    }

    .container__block-border {
        margin-top: 156px;
        margin-right: 154px;
        max-width: 570px;
    }
}

.introduce__description--download {
    margin: 0;
    margin-right: 62px;
}

.introduce__links a {
    display: block;
    margin: 0;
}

.link--google-play img {
    display: block;
    margin: 0;
}

.link--appstore img {
    display: block;
    margin: 0;
}

.introduce__links {
    margin: 0;
    padding: 0;
    display: flex;
    max-width: 228px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 65px;
    margin-top: 18px;
}

.block-border__introduce {
    margin: 0;
    max-width: 323px;
    padding: 30px 12px 21px 18px;
    background-color: var(--White);
    margin-bottom: 60px;
    z-index: 1;
}

@media (min-width: 768px) {
    .block-border__introduce {
        max-width: 356px;
        margin-bottom: 30px;
        padding: 14px 7px 15px 18px;
    }

    .introduce__links {
        flex-wrap: nowrap;
    }
}

@media (min-width: 1440px) {
    .block-border__introduce {
        max-width: 570px;
        margin-bottom: 52px;
        padding: 40px 23px 41px 30px;
    }
}

.links__link--appstore-2 img {
    display: none;
}

.links__link--google-play-2 img {
    display: none;
}

@media (min-width: 768px) {
    .links__link--google-play img {
        display: none;
    }

    .links__link--appstore img {
        display: none;
    }

    .links__link--appstore-2 img {
        display: block;
    }

    .links__link--google-play-2 img {
        display: block;
        margin-right: 14px;
    }
}

/* .bg1 {
  background-image: url(pictures/Background\ Image\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  padding-bottom: 120px; 
} */

.block-border__purple-border {
    margin: 0;
    position: absolute;
    border: 10px solid #7572FF;
    width: 100%;
    height: 96%;
    z-index: -1;
    top: -20px;
    left: 20px;
}

@media (min-width: 768px) {
    .block-border__purple-border {
        width: 375px;
        height: 400px;
        border: 18px solid #7572FF;
        top: -32px;
        left: 15px;
    }
}

@media (min-width: 1440px) {
    .block-border__purple-border {
        width: 570px;
        height: 535px;
        border: 18px solid #7572FF;
        top: -50px;
        left: 50px;
    }
}

.app_introduce_section {
    background-image: url(pictures/Background\ Image234324342.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 120px;
    padding-top: 25rem;
}

@media (min-width: 768px) {
    .app_introduce_section {
        padding-bottom: 229px;
    }
}

@media (min-width: 1440px) {
    .app_introduce_section {
        padding-bottom: 83px;
    }
}

.app_introduce_section__main-img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .app_introduce_section__main-img {
        display: block;
        margin: 0 auto;
    }
}

.app_introduce_section__main-img-pc {
    display: none;
}

@media (min-width: 1440px) {
    .app_introduce_section__main-img-pc {
        display: block;
        height: 725px;
        margin: 0 auto;
    }

    .app_introduce_section__main-img {
        display: none;
    }
}

.about_our_app-section {
    padding-bottom: 92px;
    padding-top: 60px;
}

@media (min-width: 768px) {
    .about_our_app-section {
        padding-bottom: 162px;
    }
}

@media (min-width: 768px) {
    .about_our_app-section {
        padding-top: 120px;
    }
}

@media (min-width: 1440px) {
    .about_our_app-section {
        padding-bottom: 138px;
    }
}

.about_our_app__hero-text {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 18px;
}


.about_our_app__text--description {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
}

.about_our_app__text--description-2 {
    display: none;
}

@media (min-width: 768px) {
    .about_our_app__hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }

    .about_our_app__text--description {
        display: none;
    }

    .about_our_app__text--description-2 {
        display: block;
        width: 450px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.about_our_app__text--description-pc {
    display: none;
}


.about_our_app__img--main {
    display: block;
    margin: 0 auto;
    margin-bottom: 75px;
    max-width: 100%;
}

.about_our_app__list--advantages {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.about_our_app__list--advantages {
    padding-right: 10px;
}

.about_our_app__list--advantages .item {
    margin: 0;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding-top: 18px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.about_our_app__list--advantages .item:last-child {
    margin-bottom: 0;
}

.tick-description h3 {
    margin: 0;
}

.tick-description img {
    display: block;
    margin: 0;
}

.tick-description {
    display: flex;
    margin: 0;
    align-items: center;
    margin-left: 19px;
    gap: 18px;
    margin-bottom: 3px;
}

.item .short-description {
    margin: 0;
    margin-left: 61px;
}

.about_our_app__img--main-pc {
    display: none;
}

@media (min-width: 1440px) {
    .about_our_app__img--main-pc {
        display: block;
    }
    
    .about_our_app__img--main {
        display: none;
    }

    .about_our_app__text--description-pc {
        display: block;
        width: 601px;
        margin: 0 auto;
        margin-bottom: 60px;
        text-align: center;
    } 
    
    .about_our_app__text--description {
        display: none;
    }

    .about_our_app__text--description-2 {
        display: none;
    }

    .about_our_app__list--advantages .item {
        margin: 0;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        padding-top: 18px;
        padding-bottom: 10px;
        margin-bottom: 40px;
    }
    
    .about_our_app__list--advantages .item:last-child {
        margin-bottom: 0;
    }

    .item h3 {
        margin-bottom: 12px;
    }
}

.app-features_section {
    background-image: url(pictures/Rectangle\ 142222.png);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    padding-bottom: 60px;
    padding-top: 60px;
}

@media (min-width: 768px) {
    .app-features_section {
        padding-bottom: 120px;
    }
}


.app-features_section__hero-text {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 18px;
}


.app-features_section__description {
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 32px;
}

.about_our_app__list--advantages li {
    padding-right: 10px;
}

.app-features_section__description-tablet {
    display: none;
}

.app-features_section__description-pc {
    display: none;
}

@media (min-width: 768px) {
    .app-features_section {
        padding-top: 120px;
    }

    .app-features_section__hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }

    .app-features_section__description {
        display: none;
    }

    .app-features_section__description-tablet {
        display: block;
        width: 450px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }

}

@media (min-width: 1440px) {
    .app-features_section__description-pc {
        display: block;
        text-align: center;
        width: 601px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .app-features_section__description {
        display: none;
    }

    .app-features_section__description-tablet {
        display: none;
    }
}

.list__item img {
    display: block;
    margin-bottom: 30px;
}

.list__item {
    margin: 0 auto;
}

.app-features_section__description-around--container {
    display: flex;
    flex-direction: column;
    margin: 0;
}


@media (min-width: 768px) {
    .app-features_section__container .list__item h3 {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
    }

    .app-features_section__description-around--container {
        flex-direction: row;
    }
}

@media (min-width: 1440px) {
    .list__item img {
        margin-bottom: 22px;
    }

    .list__item p {
        width: 297px;
    }

    .app-features_section__description-around--container {
        gap: 0px;
        margin-bottom: 60px;
    }
}

.item__features_description--full_free_chat {
    width: 223px;
    margin: 0 auto;
}

.item__features_description--unlimited_features {
    width: 223px;
    margin: 0 auto;
}

.item__features_description--awesome_ui_design {
    width: 223px;
}

.item__features_description--ios_android {
    width: 215px;
    margin: 0 auto;
}

.item__features_description--retina_ready_graphics {
    width: 213px;
    margin: 0 auto;
}

.item__features_description--support_people {
    max-width: 297px;
    margin: 0 auto;
    margin-bottom: 0;
    text-align: center;
}

.item__hero-par--full_free_chat {
    width: 171px;
}

.item__hero-par--unlimited_features {
    width: 223px;
}

.item__hero-par--awesome_ui_design {
    width: 206px;
}

.item__hero-par--ios_android {
    width: 215px;
}

.item__hero-par--retina_ready_graphics {
    width: 213px;
}

.item__hero-par--support_people {
    width: 244px;
}

.list__item--full_free_chat {
    margin-bottom: 40px;
}

.list__item--unlimited_features {
    margin-bottom: 40px;
    width: 223px;
}

.list__item--awesome_ui_design {
    margin-bottom: 60px;
}

.list__item--ios_android_version {
    margin-bottom: 50px;
}

.list__item--retina_ready_graphics {
    margin-bottom: 59px;
}

.item__features_description--full_free_chat {
    text-align: center;
    margin-bottom: 60px;
}

.item__hero-par--awesome_ui_design {
    text-align: center;
    margin: 0 auto;
}

.item__hero-par--full_free_chat {
    margin: 0 auto;
    margin-bottom: 18px;
}

.item__features_description--unlimited_features {
    text-align: center;
}

.item__hero-par--awesome_ui_design {
    margin-bottom: 18px;
}

.item__hero-par--ios_android {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
}

.item__features_description--awesome_ui_design {
    margin: 0 auto;
    text-align: center;
}

.item__features_description--ios_android {
    margin: 0 auto;
    text-align: center;
}

.item__hero-par--retina_ready_graphics {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;    
}

.item__features_description--retina_ready_graphics {
    text-align: center;
}

.item__hero-par--support_people {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 18px;
}

.item_img--comment {
    margin: 0 auto;
}

.item_img--surface {
    margin: 0 auto;
}

.item_img--up-pen {
    margin: 0 auto;
}

.item_img--phone {
    margin: 0 auto;
}

.item_img--eye {
    margin: 0 auto;
}

.item_img--supporter {
    margin: 0 auto;
}

.list__item--main-img {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 120px;
}

@media (min-width: 768px) {
    .list__item--unlimited_features {
        margin-bottom: 86px;
    }

    .list__item--unlimited_features p {
        text-align: right;
    }

    .item__features_description--awesome_ui_design {
        text-align: right;
    }

    .item__hero-par--awesome_ui_design {
        text-align: right;
    }

    .item__hero-par--ios_android {
        text-align: left;
    }

    .item__features_description--ios_android {
        text-align: left;
    }

    .item__hero-par--retina_ready_graphics {
        text-align: left;
    }

    .item__features_description--retina_ready_graphics {
        text-align: left;
    } 
    
    .item_img--surface {
        margin: 0;
        margin-left: auto;        
    }

    .item_img--up-pen {
        margin: 0;
        margin-left: auto; 
    }

    .item_img--phone {
        margin: 0;
        margin-right: auto; 
    }

    .item_img--eye {
        margin: 0;
        margin-right: auto; 
    }

    .list__item--main-img {
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.item__main-img--pc {
    display: none;
}

@media (min-width: 1440px) {
    .list__item--main-img {
        display: none;
    }

    .item__main-img--pc {
        display: block;
        margin: 0 auto;
        box-shadow: 40px 40px 100px 0 #18303F80;
    }

    .list__item--unlimited_features {
        margin-bottom: 347px;
    }
    
    .list__item--ios_android_version {
        margin-bottom: 347px;
    }

    .item__hero-par--unlimited_features {
        width: 297px;
        text-align: right;
    }

    .hero-par {
        margin-bottom: 18px;
        width: 297px;
    }

    .item_img--comment {
        margin-left: auto;
    }

    .item__hero-par--full_free_chat {
        text-align: center;
    }

    .list__item--unlimited_features {
        width: 297px;
    }
}

.download_app_now_section {
    padding-top: 103px;
    padding-bottom: 77px;
}


.download_app_now__links a img {
    width: 150px;
    margin: 0 auto;
}

.download_app_now__paragraph--hero-text {
    max-width: 287px;
    margin: 0;
    margin-bottom: 18px;
}

.download_app_now__links--appstore-2 {
    display: none;
}

.download_app_now__links--google-play-2 {
    display: none;
}

.download_app_now__img {
    max-width: 100%;
    margin: 0 auto;
}

.download_app_now {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .download_app_now_section {
        padding-top: 159px;
        padding-bottom: 120px;
    }

    .download_app_now__paragraph--hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }

    .download_app_now__img {
        margin-top: 86px;
        margin-left: 28px;
    }

    .download_app_now__links--appstore {
        display: none;
    }

    .download_app_now__links--appstore-2 {
        display: block;
    }

    .download_app_now__links--google-play-2 {
        display: block;
    }

    .download_app_now__links--google-play {
        display: none;
    }
}

.download_app_now__paragraph--description {
    margin: 0;
    max-width: 329px;
    margin-bottom: 40px;
}

.download_app_now__links {
    max-width: 325px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-bottom: 60px;
}

.download_app_now__list {
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 18px;
    margin-bottom: 60px;
}

.download_app_now__list .item {
    background-color: var(--Royal-blue);
    width: 96px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download_app_now__list .item img {
    width: 18px;
    margin-top: 11px;
    margin-bottom: 8px;
}

.download_app_now__list .item h3 {
    margin: 0;
    margin-bottom: 12px;
    color: var(--White);
}

.download_app_now__list .item span {
    display: block;
    margin: 0;
    color: var(--White);
}

.download_app_now__list:last-child {
    
}

.download_app_now__paragraph--description-pc {
    display: none;
}

.download_app_now__img-pc {
    display: none;
}

@media (min-width: 1440px) {
    .download_app_now__paragraph--hero-text {
        width: 364px;
        margin-bottom: 0px; 
        margin-top: 17px;  
    }
    
    .download_app_now__paragraph--description-pc {
        display: block;
        width: 570px;
        margin-bottom: 40px;
    }

    .download_app_now__paragraph--description {
        display: none;
    }

    .download_app_now__links {
        margin-bottom: 59px;
    }

    .download_app_now__list {
        gap: 30px;
    }

    .download_app_now__list .item span {
        margin-bottom: 18px;
    }

    .download_app_now__list .item {
        width: 170px;
        padding-top: 30px;
        padding-bottom: 20px;
        border-radius: 10px;
    }

    .download_app_now__list .item h3 {
        width: 149px;
        text-align: center;
        margin: 0;
    }

    .download_app_now__list .item h3, .download_app_now__list .item span {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;  
        text-transform: uppercase;  
    }

    .download_app_now__list .item img {
        margin-top: 0;
        width: 35px;
        margin-bottom: 18px;
    }

    .download_app_now__img-pc {
        display: block;
        height: 480px;
    }

    .download_app_now__img {
        display: none;
    }
}

.how_to_use_app_section {
    margin-bottom: 134px;
    background-image: url(pictures/Rectangle\ 15.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 115px;
    padding-top: 60px;
}

.how_to_use_app__paragraph--description {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}

.how_to_use_app__paragraph--hero-text {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.how_to_use_app_section__container {
    position: relative;
}

video {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    height: 150px;
    left: 0;
    right: 0;
    position: absolute;
    bottom: -185px;
    object-fit: cover;
}

.how_to_use_app__paragraph--description-tablet {
    display: none;
}

@media (min-width: 768px) {
    .how_to_use_app__paragraph--hero-text {
        width: 357px;
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;    
    }  
    
    .how_to_use_app_section {
        padding-top: 49px;
        margin-bottom: 280px;
        padding-bottom: 170px;    
    }

    .how_to_use_app__paragraph--description-tablet {
        display: block;
        width: 450px;
        text-align: center;
        margin: 0 auto;
    }

    .how_to_use_app__paragraph--description {
        display: none;
    }

    .how_to_use_app__paragraph--hero-text {
        margin-bottom: 18px;
    }

    video {
        margin: 0 auto;
        width: 570px;
        display: block;
        border-radius: 10px;
        height: 231px;
        position: absolute;
        bottom: -281px;
        object-fit: cover;
        left: 0;
        right: 0;
    }
}

.how_to_use_app__paragraph--description-pc {
    display: none;
}

@media (min-width: 1440px) {
    .how_to_use_app_section__container {
        padding-top: 120px;
    }

    .how_to_use_app_section {
        padding-top: 0;
        margin-bottom: 360px;
    }

    .how_to_use_app__paragraph--hero-text {
        margin-bottom: 23px;
        width: 547px;
        text-align: center;
    }

    .how_to_use_app__paragraph--description-pc {
        display: block;
        text-align: center;
        width: 601px;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    .how_to_use_app__paragraph--description {
        display: none;
    } 

    .how_to_use_app__paragraph--description-tablet {
        display: none;
    }

    video {
        width: 770px;
        display: block;
        border-radius: 10px;
        height: 319px;
        position: absolute;
        bottom: -381px;
        object-fit: cover;
        left: 0;
        right: 0;
    }
}

.our_happy_customers_section {
    background-image: url(pictures/Rectangle\ customers.png);
    padding-bottom: 60px;
    padding-top: 60px;
}

.our_happy_customers__paragraph--hero-text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 18px;

}

.our_happy_customers__paragraph--description-text {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    margin-bottom: 32px;
}

.our_happy_customers__sliders {
    display: flex;
    position: relative;
    margin-bottom: 40px;
}

.our_happy_customers__paragraph--description-text-tablet {
    display: none;
}

.our_happy_customers__paragraph--description-text-pc {
    display: none;
}

@media (min-width: 768px) {
    .our_happy_customers_section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .our_happy_customers__paragraph--hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;      
    }

    .our_happy_customers__paragraph--description-text-tablet {
        display: block;
        margin: 0 auto;
        width: 450px;
        text-align: center;
        margin-bottom: 40px;
    }

    .our_happy_customers__paragraph--description-text {
        display: none;
    }

    .our_happy_customers__sliders {
        margin-bottom: 60px;
    }
}

@media (min-width: 1440px) {
    .our_happy_customers__paragraph--description-text-pc {
        display: block;
        width: 601px;
        text-align: center;
        margin: 0 auto; 
        margin-bottom: 60px;
    }

    .our_happy_customers__paragraph--description-text {
        display: none;
    }

    .our_happy_customers__paragraph--description-text-tablet {
        display: none;
    }
}

.slider {
    max-width: 343px;
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 18px 20px 9px;
    box-shadow: 0px 10px 100px 0px rgba(0, 0, 0, 0.24);
}

.slider img {
    width: 50px;
    display: block;
    margin: 0 auto;
}

.slider h3 {
    margin: 0 auto;
}

.slider p {
    margin: 0 auto;
    max-width: 316px;
    text-align: center;
    margin-top: 18px;
}

/* .sliders__slider--two, .sliders__slider--three, .sliders__slider--four, .sliders__slider--five {
    position: absolute;
    height: 215px;
    margin-top: 15px;    
} */

.slider:not(.slider.main) {
    position: absolute;
    max-height: 90%;
    margin-top: 15px;
    z-index: 4;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.slider.first,
.slider.second {
    left: -20px;
}

.slider.third,
.slider.fourth {
    right: -20px;
}

.slider .our_happy_customers__slider--img-pc {
    display: none;
}

.slider .our_happy_customers__slider--text-pc {
    display: none;
}


@media (min-width: 768px) {
    .slider {
        max-width: 450px;    
    }
    
    .slider p {
        margin: 0 auto;
        max-width: 374px;
        text-align: center;
        margin-top: 18px;
    }

    .slider:not(.slider.main) {
        position: absolute;
        height: 90%;
        margin-top: 15px;
        z-index: 4;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}


@media (min-width: 1440px) {
    .slider {
        max-width: 770px;    
    }
    
    .slider p {
        margin: 0 auto;
        max-width: 647px;
        text-align: center;
        margin-top: 18px;
    }

    .slider:not(.slider.main) {
        position: absolute;
        height: 90%;
        margin-top: 15px;
        z-index: 4;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }

    .slider .our_happy_customers__slider--img-pc {
        display: block;
        margin: 0 auto;
        width: 96px;
        margin-bottom: 20px;
    }

    .slider .our_happy_customers__slider--img {
        display: none;
    }

    .slider .our_happy_customers__slider--text {
        display: none;
    }

    .slider .our_happy_customers__slider--text-pc {
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 8px;
        width: 647px;
    }

    .slider span {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;    
    }

    .slider h3 {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;    
    }

    .slider {
        padding-top: 40px;
    }

    .our_happy_customers__sliders {
        margin-bottom: 60px;
    }

    .our_happy_customers__slider_buttons {
        margin-bottom: 120px;
    }
}

.app_introduce_section__container {
    display: flex;
    flex-direction: column;
}


.about_our_app-section__flex-wrapper {
    display: flex;
    flex-direction: column;
}


.download_app_now_section__container {
    display: flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .app_introduce_section__container {
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 0;
        width: fit-content;
    }

    .about_our_app-section__flex-wrapper {
        flex-direction: row;
        gap: 60px;
        margin: 0 auto;
        justify-content: center;
        max-width: 768px;
    }

    .download_app_now_section__container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.item__short-description-pc {
    display: none;
}

@media (min-width: 1440px) {
    .app_introduce_section__container {
        align-items: flex-start;
        margin-right: auto;
        padding-right: 103px;
    }   
    
    .about_our_app-section__flex-wrapper {
        gap: 188px; 
        max-width: 100%;   
    }

    .item__short-description-pc {
        display: block;
        width: 491px;
        margin-left: 61px;
    }

    .item__short-description {
        display: none;
    }

    .list__item--creative-design {
        padding: 30px 20px 21px 18px;
    }

    .download_app_now_section__container {
        gap: 80px;
    }

    .download_app_now_section__container {
        padding-bottom: 162px;
    }

    .download_app_now_section {
        padding-bottom: 0;
    }
}

.slider.main {
    position: relative;
    z-index: 5;
    margin: 0 auto;
}

.our_happy_customers__slider_buttons {
    width: fit-content;
    margin: 0 auto;
}

.our_recent_blog_section {
    position: relative;
    margin-bottom: 60px;
    padding-top: 60px;
}

.our_recent_blog_section__main-text {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 18px;
}

.our_recent_blog__paragraph--description-text {
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
    margin-bottom: 40px;
}

.our_recent_blog__list {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.our_recent_blog__paragraph--description-text-tablet {
    display: none;
}

.our_recent_blog__paragraph--description-text-pc {
    display: none;
}

.information_section__mail_and_number {
    display: flex;
    flex-direction: column;
}

.main_footer__flex-wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main_footer__flex-wrapper {
        flex-direction: row;
        justify-content: space-around;
    }
}

.our_recent_blog__list li {
    padding: 0;
    margin: 0 auto;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    padding-bottom: 30px;
}

.our_recent_blog__list img {
    width: 100%;
    display: block;
    margin: 0 ;
    margin-bottom: 30px;
    padding: 0;
}

.our_recent_blog__list h3 {
    margin: 0 auto;
    padding-left: 18px;
    width: fit-content;
    margin-bottom: 18px;
}

.our_recent_blog__list p {
    margin: 0 auto;
    margin-left: 18px;
    margin-bottom: 18px;
}

.our_recent_blog__list a {
    margin-left: 18px;
}

.item__2021--main-text-2 {
    display: none;
}

@media (min-width: 768px) {

    .our_recent_blog__list li {
        margin-bottom: 0;
    }

    .our_recent_blog_section {
        padding-top: 120px;
    }

    .our_recent_blog_section__main-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }

    .our_recent_blog__list p {
        margin: 0 auto;
        padding-left: 18px;
        margin-bottom: 18px;
        text-align: left;
    }
    
    .our_recent_blog__paragraph--description-text-tablet {
        display: block;
        width: 450px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 40px;
    }

    .our_recent_blog__paragraph--description-text {
        display: none;
    }

    .our_recent_blog__list {
        flex-direction: row;
        margin-bottom: 120px;
    }

    .our_recent_blog__list h3 { 
    }
    
    .item__2021--main-text-2 {
        display: block;
    }

    .item__2021--main-text {
        display: none;
    }
}

@media (min-width: 1440px) {
    .our_recent_blog_section__main-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
        margin-bottom: 23px;    
    }

    .our_recent_blog__paragraph--description-text-tablet {
        display: none;
    }

    .our_recent_blog__paragraph--description-text-pc {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 601px;
        margin-bottom: 60px;
    }

    .our_recent_blog__list li {
    width: 370px;    
    }

    .our_recent_blog__list p {
        width: 334px;
        margin-left: 0;
    }
}

.information_section__mail_and_number {
    background-color: var(--White);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -150px;
    z-index: 1;
    position: relative;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    margin-right: 16px;
    margin-left: 16px;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
}

.mail_and_number img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.mail_and_number {
    text-decoration: none;
    display: block;
}

.information_section__border {
    margin: 0 auto;
    width: 117px;
    height: 4px;
    background-color: var(--Black);
}

@media (min-width: 768px) {
    .information_section__mail_and_number {
        flex-direction: row;
        max-width: 900px;
        margin: 0 auto;
    }   
    
    .information_section__border {
        width: 3px;
        height: 106px;
        background-color: var(--Black);
    }

    .mail_and_number {
        width: 100%;
        display: flex;
        justify-content: space-around;
        gap: 18px;
        align-items: center;
        padding-right: 103px;
    }

    .mail_and_number:first-child {
        margin-left: 18px;
    }

    .mail_and_number:last-child {
        margin-left: 30px;
    }

    .mail_and_number img {
        padding: 0;
        display: block;
    }

    .mail_and_number p {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;  
        text-transform: none;      
    }

    .information_section__mail_and_number {
        padding: 22px 0;

    }
}

@media (min-width: 1440px) {
    .information_section__mail_and_number {
        max-width: 1170px;
        border-radius: 30px;
        padding-top: 57px;
        padding-bottom: 57px;

    } 
    
    .information_section__mail_and_number img {
        width: 100px;
    }

    .mail_and_number {
        margin-right: 184px;  
        padding-right: 0;
    }

    .mail_and_number:first-child {
        margin-left: 50px;
    }

    .mail_and_number:last-child {
        margin-left: 50px;
    }

    .mail_and_number p {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.75rem; 
    }

    .information_section__border {
        margin: 0;
    }

}

.bg_main-footer {
    background-color: var(--Black);
}

.main_footer {
    background-color: var(--Black);
    padding-top: 220px;
}

@media (min-width: 768px) {
    .main_footer {
        margin-top: -75px;
        padding: 0;
        padding-top: 135px;
    }
}

@media (min-width: 1440px) {
    .main_footer {  
        margin-top: -110px; 
        padding-top: 235px;       
    }
}

.main_footer__footer-description .footer-description__paragraph--hero-text {
    margin: 0;
}

.main_footer__footer-description .footer-description__paragraph--description-text {
    margin: 0;
    margin-bottom: 40px;
}

.footer-description__social-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 62px;
}

.footer-description__social-list .item {
    padding-right: 30px;
    padding-left: 30px;
    border-right: 1px solid var(--White);
}

.footer-description__social-list .item:nth-child(1) {
    padding-left: 0;
}

.footer-description__social-list .item:last-child {
    border-style: none;
    padding-right: 0;
}

.main_footer__footer_links {
    margin-bottom: 60px;
}

.footer_links__paragraph--hero-text {
    margin: 0;
    margin-bottom: 11px;
}

.footer_links__links-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
}

.footer_links__links-list .item a {
    text-decoration: none;
}

.footer_news__paragraph--hero-text {
    margin: 0;
    margin-bottom: 11px;
}

.footer_news__paragraph--description-text {
    margin: 0;
    max-width: 298px; 
    margin-bottom: 33px;
}

.footer_news__form {
    padding-bottom: 60px;
    position: relative;
    max-width: 323px;
}

.form__text {
    display: none;
    word-break: break-all;
}

.form__input--email {
    padding: 13px 60px 13px 17px;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    border-style: none;
}

.form__input--email::placeholder {
    width: 200px
}

.form__input--email-button {
    position: absolute;
    padding: 11px 13px;
    text-align: center;
    background-color: var(--Royal-blue);
    border-radius: 4px;
    height: 46px;
    width: 48px;
    border-style: none;
    right: 0;
    top: 0;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 2px;
}

.main_footer__copyright {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 28px;
    gap: 18px;
    justify-content: center;
}

.copyright__icon--copy {
    margin: 0;
}

.copyright__paragraph--text {
    margin: 0;
}

.footer-description__paragraph--description-text-tablet {
    display: none;
}

.main_footer__border-copyright {
    display: none;
}

.footer-description__paragraph--description-text-pc {
    display: none;
}

.footer-description__social-list .item :last-child{
    padding-right: 0;
}

.main_footer__footer_news {
    border-bottom: 1px solid var(--White);
}

@media (min-width: 768px) {
    .main_footer__footer-description {
        width: 213px;
    }

    .main_footer__footer_links {
        margin-left: 24px;
        width: 123px;
    }
    
    .main_footer__footer_news {
        margin-left: 115px;
        max-width: 213px;
    }

    .footer-description__social-list .item {
        padding-right: 20px;
        padding-left: 20px;
    }

    .footer-description__social-list {
        margin-top: 30px;
    }

    .footer_links__links-list {
        gap: 13px;
    }

    .footer-description__paragraph--description-text {
        display: none;
    }

    .footer-description__paragraph--description-text-tablet {
        display: block;
        margin-top: 7px;
    }

    .footer_links__paragraph--hero-text {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem; 
        margin-bottom: 13px;   
    }

    .footer_news__paragraph--hero-text {
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
    }

    .footer_news__paragraph--description-text {
        max-width: 213px;
    }

    .form__input--email {
        padding: 19px 60px 18px 15px;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        border-style: none;
    }

    .form__input--email-button {
        position: absolute;
        padding: 11px 13px;
        text-align: center;
        background-color: var(--Royal-blue);
        border-radius: 4px;
        height: 46px;
        width: 52px;
        border-style: none;
        right: 0;
        top: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 2px;
    }

    .footer_news__form {
        border-bottom: none;
        position: relative;
    }

    .main_footer__border-copyright {
        display: block;
        background-color: #fff;
        height: 1px;
        width: 100%;  
        margin: 0;  
    }
}

@media (min-width: 1440px) {
    .main_footer__footer-description {
        margin-right: 66px;
        width: 334px;
    }

    .main_footer__footer_links {
        margin-right: 246px;
    }

    .footer-description__paragraph--description-text {
        display: none;
    }

    .footer-description__paragraph--description-text-tablet {
        display: none;
    }

    .footer-description__paragraph--description-text-pc {
        width: 334px;
        display: block;    
    }

    .footer-description__paragraph--hero-text {
        font-weight: 700;
        font-size: 3.125rem;
        line-height: 4.725rem;
    }

    .main_footer__footer_links {
        margin-left: 24px;
        width: 123px;
    }
    
    .main_footer__footer_news {
        margin-left: 115px;
        max-width: 369px;
    }

    .footer-description__social-list .item {
        padding-right: 30px;
        padding-left: 30px;
    }

    .footer-description__social-list {
        margin-top: 40px;
    }

    .footer_links__links-list {
        gap: 20px;
    }

    .footer_links__paragraph--hero-text {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.75rem; 
        margin-bottom: 13px;  
        width: 154px;
    }

    .footer_news__paragraph--hero-text {
        font-weight: 600;
        font-size: 2.5rem;
        line-height: 3.75rem;
    }

    .footer_news__paragraph--description-text {
        max-width: 298px;
        text-align: left;
    }

    .form__input--email {
        padding: 19px 60px 18px 15px;
        border-radius: 4px;
        width: 100%;
        height: 50px;
        border-style: none;
    }

    .form__input--email-button {
        position: absolute;
        padding: 11px 13px;
        text-align: center;
        background-color: var(--Royal-blue);
        border-radius: 4px;
        height: 46px;
        width: 52px;
        border-style: none;
        right: 0;
        top: 0;
        margin-top: 2px;
        margin-bottom: 2px;
        margin-right: 2px;
    }

    .footer_news__form {
        border-bottom: none;
        position: relative;
        max-width: 343px;
    }

    .main_footer__border-copyright {
        display: block;
        background-color: #fff;
        height: 1px;
        width: 100%;  
        margin: 0;  
    }

    .main_footer__footer_news {
        margin: 0 auto;
    }

    .main_footer__copyright p{
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}